<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
</head>
<body>
    <h1>Detalles de la empresa {{ empresa.nombre }}</h1>
    <p>Tipo : {{ empresa.tipo }}</p>
    <p>Dirección : {{ empresa.direccion }}</p>
    <p>Persona de contacto : {{ empresa.personaContacto }}</p>
    <p>Creada: {{ empresa.created }}</p>
    <p>Actualizada: {{ empresa.updated }}</p>
    <a href="{% url 'borrar' empresa.id %}">Borrar</a>,
    <a href="{% url 'editar' empresa.id %}">Modificar</a>
</body>
</html>